USE [peak_sneaker_2]
GO
/****** Object:  Table [dbo].[chat_lieu]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_lieu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_chat_lieu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_hoa_don]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hoa_don](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[gia] [numeric](38, 2) NULL,
	[gia_nguyen_ban] [numeric](38, 2) NULL,
	[giam_gia] [numeric](38, 2) NULL,
	[mo_ta] [text] NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](50) NULL,
	[nguoi_tao] [varchar](50) NULL,
	[so_luong] [int] NULL,
	[trang_thai] [varchar](255) NULL,
	[id_hoa_don] [bigint] NULL,
	[id_san_pham_chi_tiet] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[co_giay]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[co_giay](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_co_giay] [varchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_muc]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_muc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_danh_muc] [nvarchar](255) NULL,
	[nguoi_tao] [varchar](100) NULL,
	[ngay_tao] [datetime] NULL,
	[nguoi_sua_cuoi] [varchar](100) NULL,
	[ngay_sua_cuoi] [datetime] NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[de_giay]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[de_giay](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_de_giay] [nvarchar](255) NULL,
	[nguoi_tao] [varchar](100) NULL,
	[ngay_tao] [datetime] NULL,
	[nguoi_sua_cuoi] [varchar](100) NULL,
	[ngay_sua_cuoi] [datetime] NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dia_chi]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dia_chi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chi_tiet] [nvarchar](max) NULL,
	[dia_chi_mac_dinh] [bit] NULL,
	[ngay_tao] [datetime2](6) NULL,
	[quan_huyen] [nvarchar](100) NULL,
	[so_dien_thoai_nguoi_nhan] [varchar](20) NULL,
	[ten_nguoi_nhan] [nvarchar](255) NULL,
	[tinh_thanh_pho] [nvarchar](100) NULL,
	[xa_phuong] [nvarchar](100) NULL,
	[xoa_mem] [bit] NULL,
	[khach_hang_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[form_chan]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[form_chan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_form] [varchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hinh_anh]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinh_anh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[duong_dan] [varchar](max) NULL,
	[la_anh_dai_dien] [bit] NULL,
	[ngay_tao] [datetime2](6) NULL,
	[id_san_pham] [bigint] NULL,
	[id_san_pham_chi_tiet] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chi_tiet_nguoi_nhan] [text] NULL,
	[hinh_thuc_hoa_don] [varchar](255) NULL,
	[id_phieu_giam_gia] [bigint] NULL,
	[loai_hoa_don] [varchar](255) NULL,
	[ma_hoa_don] [varchar](50) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ngay_dat_hang] [datetime2](6) NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](50) NULL,
	[nguoi_tao] [varchar](50) NULL,
	[phuong_thuc_thanh_toan] [varchar](255) NULL,
	[quan_huyen] [varchar](255) NULL,
	[so_dien_thoai_nguoi_nhan] [varchar](15) NULL,
	[ten_nguoi_nhan] [varchar](255) NULL,
	[tien_phieu_giam_gia] [numeric](38, 2) NULL,
	[tien_van_chuyen] [numeric](38, 2) NULL,
	[tinh_thanh_pho] [varchar](255) NULL,
	[tong_tien] [numeric](38, 2) NULL,
	[tong_tien_after_giam] [numeric](38, 2) NULL,
	[trang_thai_hoa_don] [nvarchar](50) NULL,
	[xa_phuong] [varchar](255) NULL,
	[id_khach_hang] [bigint] NULL,
	[id_nhan_vien] [bigint] NULL,
	[id_trang_thai_moi] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NULL,
	[gioi_tinh] [nvarchar](20) NULL,
	[ma_khach_hang] [varchar](50) NOT NULL,
	[mat_khau] [varchar](255) NULL,
	[ngay_sinh] [date] NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](50) NULL,
	[nguoi_tao] [varchar](50) NULL,
	[so_dien_thoai] [varchar](15) NULL,
	[ten_day_du] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kich_thuoc]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kich_thuoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_kich_thuoc] [nvarchar](50) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kieu_dang]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kieu_dang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_kieu_dang] [nvarchar](255) NULL,
	[nguoi_tao] [varchar](100) NULL,
	[ngay_tao] [datetime] NULL,
	[nguoi_sua_cuoi] [varchar](100) NULL,
	[ngay_sua_cuoi] [datetime] NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_hoa_don]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_hoa_don](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[loai_hoa_don] [varchar](255) NULL,
	[mo_ta] [text] NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[xoa_mem] [bit] NULL,
	[id_hoa_don] [bigint] NULL,
	[id_trang_thai_moi] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_thanh_toan]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_thanh_toan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[loai] [varchar](255) NULL,
	[mo_ta] [text] NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[phuong_thuc_thanh_toan] [varchar](255) NULL,
	[so_tien_giao_dich] [numeric](38, 2) NULL,
	[trang_thai] [varchar](255) NULL,
	[id_hoa_don] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_san]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_san](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_loai_san] [varchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mau_sac]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mau_sac](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_mau_sac] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
	[ma_mau] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_san_xuat]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_san_xuat](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_nha_san_xuat] [nvarchar](255) NULL,
	[nguoi_tao] [varchar](100) NULL,
	[ngay_tao] [datetime] NULL,
	[nguoi_sua_cuoi] [varchar](100) NULL,
	[ngay_sua_cuoi] [datetime] NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[anh] [varchar](255) NULL,
	[dia_chi] [nvarchar](max) NULL,
	[email] [varchar](100) NULL,
	[gioi_tinh] [nvarchar](20) NULL,
	[ma_nhan_vien] [varchar](50) NOT NULL,
	[mat_khau] [varchar](255) NULL,
	[ngay_sinh] [date] NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](50) NULL,
	[nguoi_tao] [varchar](50) NULL,
	[quan_huyen] [nvarchar](255) NULL,
	[so_dien_thoai] [varchar](15) NULL,
	[ten_day_du] [nvarchar](255) NULL,
	[tinh_thanh_pho] [nvarchar](255) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[xa_phuong] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
	[id_vai_tro] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_giam_gia]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_giam_gia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[gia_tri_giam] [numeric](38, 2) NULL,
	[gia_tri_toi_thieu] [numeric](38, 2) NULL,
	[hinh_thuc_giam] [nvarchar](50) NULL,
	[loai] [int] NULL,
	[ma_phieu] [varchar](50) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[so_luong] [int] NULL,
	[ten_phieu] [nvarchar](255) NOT NULL,
	[trang_thai] [int] NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_t285wxdg4xogwh03p8n9cr4hv] UNIQUE NONCLUSTERED 
(
	[ma_phieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong_cach_choi]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong_cach_choi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_phong_cach] [varchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[duong_dan_anh] [varchar](255) NULL,
	[ma_san_pham] [varchar](255) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_san_pham] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
	[id_chat_lieu] [bigint] NULL,
	[id_co_giay] [bigint] NULL,
	[id_phong_cach] [bigint] NULL,
	[id_thuong_hieu] [bigint] NULL,
	[id_vi_tri] [bigint] NULL,
	[id_xuat_xu] [bigint] NULL,
	[id_danh_muc] [bigint] NULL,
	[id_kieu_dang] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham_chi_tiet]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham_chi_tiet](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[duong_dan_anh] [varchar](255) NULL,
	[gia_ban] [numeric](38, 2) NULL,
	[ma_san_pham_chi_tiet] [varchar](255) NULL,
	[ma_vach] [varchar](255) NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[so_ton_kho] [int] NULL,
	[trang_thai] [nvarchar](50) NULL,
	[id_kich_thuoc] [bigint] NULL,
	[id_mau_sac] [bigint] NULL,
	[id_san_pham] [bigint] NULL,
	[id_form_chan] [bigint] NULL,
	[id_loai_san] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thuong_hieu]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thuong_hieu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_thuong_hieu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trang_thai_hoa_don]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trang_thai_hoa_don](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
	[ten_trang_thai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma] [varchar](50) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](50) NULL,
	[nguoi_tao] [varchar](50) NULL,
	[ten] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vi_tri]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vi_tri](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_vi_tri] [varchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xuat_xu]    Script Date: 4/9/2026 10:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xuat_xu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_sua_cuoi] [datetime2](6) NULL,
	[ngay_tao] [datetime2](6) NULL,
	[nguoi_sua_cuoi] [varchar](255) NULL,
	[nguoi_tao] [varchar](255) NULL,
	[ten_xuat_xu] [nvarchar](255) NULL,
	[xoa_mem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[danh_muc] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[de_giay] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[kieu_dang] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[nha_san_xuat] ADD  DEFAULT ((0)) FOR [xoa_mem]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK31sf8k3yqnfleh44ma6i914rj] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK31sf8k3yqnfleh44ma6i914rj]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FKh29dthqlj2tb9gwnjco9ccxy9] FOREIGN KEY([id_san_pham_chi_tiet])
REFERENCES [dbo].[san_pham_chi_tiet] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FKh29dthqlj2tb9gwnjco9ccxy9]
GO
ALTER TABLE [dbo].[dia_chi]  WITH CHECK ADD  CONSTRAINT [FKbbd8bxqdl1w9vhasn86u0q9w3] FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[dia_chi] CHECK CONSTRAINT [FKbbd8bxqdl1w9vhasn86u0q9w3]
GO
ALTER TABLE [dbo].[hinh_anh]  WITH CHECK ADD  CONSTRAINT [FKljxls67elp71u6pspj08hpnw9] FOREIGN KEY([id_san_pham])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[hinh_anh] CHECK CONSTRAINT [FKljxls67elp71u6pspj08hpnw9]
GO
ALTER TABLE [dbo].[hinh_anh]  WITH CHECK ADD  CONSTRAINT [FKrwqg25a2y2qptfw2sy6bshslq] FOREIGN KEY([id_san_pham_chi_tiet])
REFERENCES [dbo].[san_pham_chi_tiet] ([id])
GO
ALTER TABLE [dbo].[hinh_anh] CHECK CONSTRAINT [FKrwqg25a2y2qptfw2sy6bshslq]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK5m5erkp68cc8udyjwgynr2qvt] FOREIGN KEY([id_trang_thai_moi])
REFERENCES [dbo].[trang_thai_hoa_don] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK5m5erkp68cc8udyjwgynr2qvt]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FKkuxkrkgq8yftm4d8d7o0w6nbv] FOREIGN KEY([id_nhan_vien])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FKkuxkrkgq8yftm4d8d7o0w6nbv]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FKrygimdf5nr1g2t6u03gvtr1te] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FKrygimdf5nr1g2t6u03gvtr1te]
GO
ALTER TABLE [dbo].[lich_su_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK1d6wcfthrov7aemspykxbp96y] FOREIGN KEY([id_trang_thai_moi])
REFERENCES [dbo].[trang_thai_hoa_don] ([id])
GO
ALTER TABLE [dbo].[lich_su_hoa_don] CHECK CONSTRAINT [FK1d6wcfthrov7aemspykxbp96y]
GO
ALTER TABLE [dbo].[lich_su_hoa_don]  WITH CHECK ADD  CONSTRAINT [FKcan7u6m18x7j4e4cxoojeu9b5] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[lich_su_hoa_don] CHECK CONSTRAINT [FKcan7u6m18x7j4e4cxoojeu9b5]
GO
ALTER TABLE [dbo].[lich_su_thanh_toan]  WITH CHECK ADD  CONSTRAINT [FKpol22neoqyn0yvgul670fmm79] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[lich_su_thanh_toan] CHECK CONSTRAINT [FKpol22neoqyn0yvgul670fmm79]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [FKgi88o1t6luqmaovqalr30pf7k] FOREIGN KEY([id_vai_tro])
REFERENCES [dbo].[vai_tro] ([id])
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [FKgi88o1t6luqmaovqalr30pf7k]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK3ullr9sbkcvnhl605u6nexf10] FOREIGN KEY([id_chat_lieu])
REFERENCES [dbo].[chat_lieu] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK3ullr9sbkcvnhl605u6nexf10]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK4jv1tdkvxu228cn6u05fcm8g2] FOREIGN KEY([id_phong_cach])
REFERENCES [dbo].[phong_cach_choi] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK4jv1tdkvxu228cn6u05fcm8g2]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK5266y3xb83fch2ygdg6wf58qu] FOREIGN KEY([id_thuong_hieu])
REFERENCES [dbo].[thuong_hieu] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK5266y3xb83fch2ygdg6wf58qu]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK5lkjru00do6d8an3rsjsktt3f] FOREIGN KEY([id_vi_tri])
REFERENCES [dbo].[vi_tri] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK5lkjru00do6d8an3rsjsktt3f]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FKadkf5t5ogfbtas6xgjoehxbea] FOREIGN KEY([id_co_giay])
REFERENCES [dbo].[co_giay] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FKadkf5t5ogfbtas6xgjoehxbea]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FKcpmwhjh5pg3iyqv3oq9yhiy2d] FOREIGN KEY([id_xuat_xu])
REFERENCES [dbo].[xuat_xu] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FKcpmwhjh5pg3iyqv3oq9yhiy2d]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FKk8b4wwituxbxbcudtvqie796j] FOREIGN KEY([id_danh_muc])
REFERENCES [dbo].[danh_muc] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FKk8b4wwituxbxbcudtvqie796j]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FKn4m3kk6svc6h4msk8qasgkw7u] FOREIGN KEY([id_kieu_dang])
REFERENCES [dbo].[kieu_dang] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FKn4m3kk6svc6h4msk8qasgkw7u]
GO
ALTER TABLE [dbo].[san_pham_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FK875ryqpl8oshaboo8gg0f1avg] FOREIGN KEY([id_loai_san])
REFERENCES [dbo].[loai_san] ([id])
GO
ALTER TABLE [dbo].[san_pham_chi_tiet] CHECK CONSTRAINT [FK875ryqpl8oshaboo8gg0f1avg]
GO
ALTER TABLE [dbo].[san_pham_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FKan8cgqvo87bbk9p46t8csbhe8] FOREIGN KEY([id_san_pham])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[san_pham_chi_tiet] CHECK CONSTRAINT [FKan8cgqvo87bbk9p46t8csbhe8]
GO
ALTER TABLE [dbo].[san_pham_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FKdtq9hr7xwf8dq6cr9imci52dd] FOREIGN KEY([id_kich_thuoc])
REFERENCES [dbo].[kich_thuoc] ([id])
GO
ALTER TABLE [dbo].[san_pham_chi_tiet] CHECK CONSTRAINT [FKdtq9hr7xwf8dq6cr9imci52dd]
GO
ALTER TABLE [dbo].[san_pham_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FKij5n0goopp1ireh8su018u039] FOREIGN KEY([id_mau_sac])
REFERENCES [dbo].[mau_sac] ([id])
GO
ALTER TABLE [dbo].[san_pham_chi_tiet] CHECK CONSTRAINT [FKij5n0goopp1ireh8su018u039]
GO
ALTER TABLE [dbo].[san_pham_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FKowfwe5eh79ao2g8shb3fic8it] FOREIGN KEY([id_form_chan])
REFERENCES [dbo].[form_chan] ([id])
GO
ALTER TABLE [dbo].[san_pham_chi_tiet] CHECK CONSTRAINT [FKowfwe5eh79ao2g8shb3fic8it]
GO
