<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <header th:fragment="header" class="header">
        <div class="header-container d-flex align-items-center justify-content-end px-4">
            <div class="user-info d-flex align-items-center">
                <i class="bi bi-bell me-3"></i>
                <span class="user-name me-2">Nguyễn Thị S (Quản trị viên)</span>
                <a href="#" class="logout-link text-danger">Đăng xuất</a>
            </div>
        </div>
    </header>
</body>

</html>