<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <aside th:fragment="sidebar" class="sidebar">
        <div class="sidebar-brand">
            <img th:src="@{/assets/images/logo.png}" alt="Logo" class="logo-img">
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="#"><i class="bi bi-house-door"></i> Trang chủ</a></li>
                <li><a href="#"><i class="bi bi-graph-up"></i> Thống kê</a></li>
                <li><a href="#"><i class="bi bi-cart"></i> Bán hàng</a></li>
                <li><a th:href="@{/admin/hoa-don}"><i class="bi bi-receipt"></i> Quản lý hóa đơn</a></li>
                <li class="has-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle collapsed" data-bs-toggle="collapse"
                        data-bs-target="#submenuProduct" aria-expanded="false">
                        <i class="bi bi-box-seam"></i> Quản lý sản phẩm
                    </a>
                    <ul class="submenu collapse" id="submenuProduct">
                        <li><a th:href="@{/admin/san-pham}" class="ps-5">Danh sách sản phẩm</a></li>
                        <li><a th:href="@{/admin/san-pham/bien-the}" class="ps-5">Biến thể sản phẩm</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/admin/phieu-giam-gia}"><i class="bi bi-tags"></i> Quản lý giảm giá</a></li>
                <li class="has-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle collapsed" data-bs-toggle="collapse"
                        data-bs-target="#submenuAccount" aria-expanded="false">
                        <i class="bi bi-people"></i> Quản lý tài khoản</i>
                    </a>
                    <ul class="submenu collapse" id="submenuAccount">
                        <li><a th:href="@{/admin/khach-hang}" class="ps-5">Khách hàng</a></li>
                        <li><a th:href="@{/admin/nhan-vien}" class="ps-5">Nhân viên</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</body>

</html>
